__pycache__/
*.py[cod]
*$py.class


venv/
.venv/

# ==========================================
# ENV VARIABLES / API KEYS
# ==========================================

.env

# ==========================================
# STREAMLIT
# ==========================================

.streamlit/

# ==========================================
# VECTOR DATABASE / GENERATED DATA
# ==========================================

data/uploads/
data/processed/
data/vectordb/

# ==========================================
# QDRANT / DATABASE FILES
# ==========================================

*.db
*.sqlite3

# ==========================================
# MODEL CACHE
# ==========================================

.cache/
huggingface/
hf_cache/

# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/

# ==========================================
# OS FILES
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# LOG FILES
# ==========================================

*.log


# test_*.py

# ==========================================
# IDE FILES
# ==========================================

.vscode/
.idea/


docker-compose.override.yml